<div class="container-fluid">
    <div class="row justify-content-center">   
        <div class="col-md-10 col-xl-11 chat">
            <div class="card">
                <div class="card-header msg_head ">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="{{groupImg}}" class="rounded-circle user_img">
                        </div>
                        <div class="user_info">
                            <span>{{groupName}}</span>
                        </div>
                    </div>
                </div>
                <div class="card-body msg_card_body">
                    <div *ngFor="let message of messages">
                        <div class="messageItem">
                          
                            <div class="d-flex justify-content-start mb-4" *ngIf="message.senderId!==currentUser.id
                             &&((message.isDeleteByReciver==0||(message.isDeleteByReciver==1&&!isUserDeleted(message)))&&(message.isDeleteBySender==0||message.isDeleteBySender==1))">
                        
                              <div class="img_cont_msg">
                                    <img src="{{message.senderImgUrl}}" class="rounded-circle user_img_msg">
                                </div>
                                <div class="msg_cotainer">
                                    {{message.content}}
                                    <span class="msg_time">{{message.messageTime| date:'shortTime'}}</span>
                                </div>
                                <section >
                                    <div class="nav-item .senderdown" ngbDropdown >
                                        <span ngbDropdownToggle  id="navbarDropdown"   aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                              </svg>
                                        </span>
                                        <ul ngbDropdownMenu="navbarDropdown" class="dropdown-menu " aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item mouseCursor" (click)="DeleteGroupMessage(message.messageId,3,message.senderId)">For Me</a>
                                        </ul>
                                    </div> 
                                </section>
                            </div>
                        </div>
                        <div class="messageItem">
                           

                            <div class="d-flex justify-content-end mb-4" *ngIf="message.senderId===currentUser.id &&message.isDeleteBySender===0">
                                <section >
                                    <div class="nav-item .senderdown" ngbDropdown >
                                        <span ngbDropdownToggle  id="navbarDropdown"   aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                              </svg>
                                        </span>
                                        <ul ngbDropdownMenu="navbarDropdown" class="dropdown-menu " aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item mouseCursor" (click)="DeleteGroupMessage(message.messageId,1)">For Me</a>
                                    <a class="dropdown-item mouseCursor" (click)="DeleteGroupMessage(message.messageId,2)">For everyOne</a>
                                        </ul>
                                    </div>
                                </section>
                              
                                <div class="msg_cotainer_send">
                                    {{message.content}}
                                    <span class="msg_time_send">{{message.messageTime| date:'shortTime'}}</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="{{currentUser.imgUrl}}" class="rounded-circle user_img_msg">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class=" attach_btn"><i class="fas fa-paperclip"></i></span>
                        </div>
                        <textarea name="" [(ngModel)]="message" class="form-control type_msg .senderfield" placeholder="Type your message..."></textarea>
                        <div class=" btn btn-primary m-2">
                            <span class=" " (click)="sendMessage()"><i class="fas fa-location-arrow iconep"></i></span>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>